{% extends 'accounts/main.html' %} {% block content %}
<!-- including status -->
{% load static %} {% include 'accounts/status.html' %}
<div class="row">
  <div class="col-md-5">
    <h5 style="padding: 2px 20px">CUSTOMERS:</h5>
    <hr />
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href=""> Create Customer </a>
      <table class="table table-sm">
        <tr>
          <th>Customer</th>
          <th>Phone</th>
          <th></th>
        </tr>
        {% for customer in customers %}
        <tr>
          <td>{{customer.name}}</td>
          <td>{{customer.phone}}</td>
          <td>
            <a href="{% url 'customer' customer.id%}"> View </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <h5 style="padding: 2px 20px">LAST 5 ORDERS:</h5>
    <hr />
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{order.product}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.status}}</td>
          <td>
            <a
              class="btn btn-warning btn-sm"
              href="{% url 'update_order' order.id %}"
              >Update</a
            >
          </td>
          <td>
            <a
              class="btn btn-danger btn-sm"
              href="{% url 'delete_order' order.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
